* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	min-height: 100vh;
	width: 100vw;
	background-color: #f6f6f6;
}

@media only screen and (max-width: 600px) {

#spotlightContainer {
	width: 100%;
	display: flex;
	justify-content: center;
	margin-top: 5vw;
}

#spotlightGrid {
	border-radius: 10px;
	background-color: #e4f8ba;
	padding: 5vw;
	border: 1px solid #222222;
	width: 90%;
	display: grid;
	grid-template-rows: max-content auto;
	grid-row-gap: 5vw;
}

#spotlightImgContainer {
	aspect-ratio: 1 / 1.3;
	border-radius: 10px;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: grey;
}

#spotlightTitle {
	display: flex;
	justify-content: center;
}

.spotlightName {
	text-align: center;
	font-family: "DM Sans", sans-serif;
	font-optical-sizing: auto;
	font-weight: 800;
	color: #060606;
	line-height: 1.2;
	font-size: 1.75rem;
	width: 95%;
	font-style: normal;	
}




  
#recipesGridContainer {
	width: 100%;
	display: flex;
	justify-content: center;
	margin-top: 15vw;
	padding-bottom: 15vw;
}

#recipesGrid {
	width: 90%;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-column-gap: 2.5vw;
	grid-row-gap: 7.5vw;
}

#recipeContainer {
	display: grid;
	grid-template-rows: max-content auto;
	grid-row-gap: 2.5vw;
}

#recipeImgContainer {
	border-radius: 5px;
	aspect-ratio: 1 / 1.3;
	background-color: #DFDFDF;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
}

.recipeImg {
	object-fit: contain;
	width: 100%;
}

.recipeName {
	text-align: center;
	font-family: "DM Sans", sans-serif;
	font-optical-sizing: auto;
	font-weight: 700;
	color: #060606;
	line-height: 1.2;
	font-size: 1.1rem;
	width: 95%;
	font-style: normal;
}

}
